html{
	background-image: url(../Images/halloween-orange-moon-cemetry.png);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#container{
	max-width: 600px;
	text-align: center;
}
#container, #counter, h3{
	margin: 0 auto;
}
#header h1, #header button, #start-over-button, #questions-container h2, #button, h3{
	font-family: 'Amatic SC', cursive;
	text-transform: uppercase;
}
#header h1, #header button, #start-over-button, #button{
	font-weight: bold;
}
#header h1{
	font-size: 100px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #111111;
}
#header button, #start-over-button, #counter{
	background-color: #FFFFFF;
}
#header button, #start-over-button, #button{
	outline: none;
}
#header button, #start-over-button{
	border: none;
	color: #000000;
	font-size: 30px;
	padding: 10px 20px 10px 20px;
	letter-spacing: 1px;
	box-shadow: 1px 0px 20px 10px rgba(255,255,255,0.6);
}
#questions-container{
	display: none;
}
#questions-container h2{
	font-size: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
#button{
	width: 350px;
	border: none;
	background-color: #000000;
	color: #CCCCCC;
	font-size: 30px;
	padding: 10px 0px 10px 0px;
	letter-spacing: 1px;
	display: block;
	margin: 20px auto;
	border-radius: 30px;
	box-shadow: 1px 0px 5px 2px rgba(255,255,255,0.3);
}
#button:hover, #start-over-button:hover{
	background-color: #FFFFFF;
	color: #000000;
	-webkit-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
}
#header button:hover{
	background-color: #000000;
	color: #FFFFFF;
	-webkit-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
}
#counter{
	border: solid #FFFFFF;
	width: 20px;
	padding: 20px;
	box-shadow: 1px 0px 30px 10px rgba(255,255,255,0.4);
	font-family: 'Oswald', sans-serif;
}
#counter, img{
	border-radius: 50%;
}
h3{
	padding-bottom: 20px;
	font-size: 40px;
}
#start-over-button{
	margin-top: 60px;
}
img{
	height: 300px;
	width: 300px;
	box-shadow: 2px 2px 20px #000000;
	margin-top: 40px;
}